h1 {
  text-align: center;
}

h3 {
	color: blue;
}

.form-group {
	width: 150px;
	margin-right: 40%;
	margin-left: 40%;
}

.btn {
	margin-right: 40%;
	margin-left: 40%;

}

#triangleResult {
	display: none;
	text-align: center;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 10px;
	color: red;
}

